<nav class='navbar navbar-expand alert alert-danger py-1 mb-1'>
    <div class='container'>
        <span>20127538</span>
        <h1>Movies information</h1>

        <form id="switch-form" class='d-flex'>
            <div class='form-check form-switch'>
                <input
                    id='mode-switch'
                    class='form-check-input'
                    type='checkbox'
                    role='switch'
                    {{#if isDarkMode}} checked {{/if}}
                />
                <label class='form-check-label' for='mode-switch'>
                    <i class='fa-solid {{#if isDarkMode}}fa-moon{{else}}fa-sun{{/if}}'></i>
                </label>
            </div>
        </form>
    </div>
</nav>
<nav class='navbar navbar-expand alert alert-primary py-1 mb-0'>
    <div class='container'>
        <!-- Home button -->
        <a href='/' class='navbar-brand'>
            <svg class="home-icon" {{#if isDarkMode}}style="color: white;"{{/if}} xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50">
                    <path
                        d="M 25 1.0507812 C 24.7825 1.0507812 24.565859 1.1197656 24.380859 1.2597656 L 1.3808594 19.210938 C 0.95085938 19.550938 0.8709375 20.179141 1.2109375 20.619141 C 1.5509375 21.049141 2.1791406 21.129062 2.6191406 20.789062 L 4 19.710938 L 4 46 C 4 46.55 4.45 47 5 47 L 19 47 L 19 29 L 31 29 L 31 47 L 45 47 C 45.55 47 46 46.55 46 46 L 46 19.710938 L 47.380859 20.789062 C 47.570859 20.929063 47.78 21 48 21 C 48.3 21 48.589063 20.869141 48.789062 20.619141 C 49.129063 20.179141 49.049141 19.550938 48.619141 19.210938 L 25.619141 1.2597656 C 25.434141 1.1197656 25.2175 1.0507812 25 1.0507812 z M 35 5 L 35 6.0507812 L 41 10.730469 L 41 5 L 35 5 z"
                        fill="currentColor">
                    </path>
            </svg>
        </a>

        <!-- Favorite button -->
        <h1 id="favorite-btn">20538</h1>

        <!-- Form -->
        <form class='d-flex' role='search' action='/movie/search'>
            <input
                id='search-input'
                type='search'
                class='form-control me-2'
                placeholder='Search'
                aria-label='Search'
                @keyup.enter='handleSearch'
                name='searchInput'
            />
            <button
                class='btn btn-outline-success'
                type='submit'
                @click='handleSearch'
            >
                Search
            </button>
        </form>
    </div>
</nav>