<div class="container p-0 mb-3">
    <div class="text-start px-4 row" style="background-color: #eae7dc">
        <div class="col-2 mt-3 h-100">
            <div class="text-center" style="height: 210px; background-color: #d8c3a5">
                <img class="img-fluid mx-auto d-block p-2"
                    src="https://dfstudio-d420.kxcdn.com/wordpress/wp-content/uploads/2019/06/digital_camera_photo-980x653.jpg"
                    alt="" style="
                                height: 170px;
                                border-radius: 50%;
                                aspect-ratio: 1/1;
                            " />
                <span class="fs-4" style="color: #c05b5b">Nguyen Van A</span>
            </div>
            <div class="d-flex align-items-center justify-content-center text-center mt-3"
                style="height: 50px; background-color: #ffffff">
                <a href="" class="fs-5" style="text-decoration: none; color: black">Sản phẩm</a>
            </div>
            <div class="d-flex align-items-center justify-content-center text-center mt-3"
                style="height: 50px; background-color: #ffffff">
                <a href="" class="fs-5" style="text-decoration: none; color: black">Đơn hàng</a>
            </div>
            <div class="d-flex align-items-center justify-content-center text-center mt-3"
                style="height: 50px; background-color: #e98074">
                <a href="" class="fs-5" style="text-decoration: none; color: #ffffff">Thống kê</a>
            </div>
            <div class="d-flex align-items-center justify-content-center text-center mt-3"
                style="height: 50px; background-color: #ffffff">
                <a href="" class="fs-5" style="text-decoration: none; color: black">Tài khoản</a>
            </div>
            <div class="d-flex align-items-center justify-content-center text-center mt-3"
                style="height: 50px; background-color: #ffffff">
                <a href="" class="fs-5" style="text-decoration: none; color: black">Danh mục</a>
            </div>
        </div>
        <div class="col-10 pe-0">
            <div class="container mt-3 border border-success rounded text-start" style="background-color: #ffffff">
                <h5 class="mt-2 mb-0">Tổng đơn hàng thành công</h5>
                <div class="d-flex align-items-center justify-content-center mb-3">
                    <div class="fs-2 fw-bold" style="color: #2006BF;"> 6 </div>
                </div>
            </div>
            <div class="container mt-3 border border-success rounded text-start" style="background-color: #ffffff">
                <h5 class="mt-2 mb-0">Tổng doanh thu</h5>
                <div class="d-flex align-items-center justify-content-center mb-3">
                    <div class="fs-2 fw-bold" style="color: #2006BF;"> 1.000.000 VNĐ </div>
                </div>
            </div>
            <div class="container mt-3 border border-success rounded text-start" style="background-color: #ffffff">
                <h5 class="mt-2 mb-3">Biểu đồ</h5>
            </div>
        </div>
    </div>
</div>