<style>
    .order-view-status-new-order,
    .order-view-status-processing,
    .order-view-status-canceled {
        text-align: center;
        position: relative;
    }

    .order-view-icon-img {
        border: 3px solid;
        border-radius: 50%;
        background-size: 25px;
        height: 100%;
    }

    .order-view-status-new-order,
    .order-view-status-processing,
    .order-view-status-canceled {
        flex: 1;
    }

    .order-view-icon-container {
        display: flex;
        flex-direction: column;
    }

    .order-view-progress-bar {
        position: absolute;
        background: #29a72a;
        top: calc(50% - 25px);
        height: 3px;
        width: calc(100% - 60px);
        left: calc(50% + 30px);
    }

    .order-view-icon-content p {
        margin: 0;
    }

    .order-view-icon-content p:nth-child(1) {
        font-weight: bold;
    }

    .order-view-icon-content {
        margin-top: 10px;
    }

    .order-view-status-container {
        display: flex;
        margin-top: 10px;
        border: 1px solid #e0e0e0;
        padding: 10px 0px;
    }
</style>
<div class='text-start px-4 row m-0 pb-3' style='background-color: #eae7dc'>
    <div class='card col-2 mt-3 border border-success rounded h-100'>
        <div class='card-header fw-bold text-danger fs-4'>
            Tài khoản
        </div>
        <ul class='list-group list-group-flush'>
            <li class='list-group-item'>
                <a href='' style='text-decoration: none; color: black'>
                    Thông tin tài khoản
                </a>
            </li>
            <li class='list-group-item'>
                <a href='' style='text-decoration: none; color: black'>Sổ địa
                    chỉ</a>
            </li>
            <li class='list-group-item'>
                <a href='' style='text-decoration: none; color: #ff550d'>Đơn
                    hàng của tôi</a>
            </li>
        </ul>
    </div>
    <div class='container col-9'>
        <div class='container mt-3 border border-success rounded text-start' style='background-color: FFFFFF'>
            <h4 class='mt-2 mb-3'>CHI TIẾT ĐƠN HÀNG</h4>
            <span class='badge rounded-pill text-bg-success'>Đơn hàng hoàn tất</span>
            <div class='row'>
                <dd class='col-2 pe-0'>Mã đơn hàng:</dd>
                <dt class='col p-0'>101719588</dt>
            </div>
            <div class='row'>
                <dd class='col-2 pe-0'>Ngày mua:</dd>
                <dt class='col p-0'>29/12/2022</dt>
            </div>
            <div class='row'>
                <dd class='col-2 pe-0'>Tổng tiền:</dd>
                <dt class='col p-0'>100000 đ</dt>
            </div>
        </div>
        <div class='container px-4 text-start mt-3 border border-success rounded' style='background-color: #ffffff'>
            <div class='row gx-5'>
                <div class='col d- p-0 ms-3'>
                    <div class='p-2 border border-dark-subtle m-2 flex-fill'>
                        <p class='fw-bold fs-6'>THÔNG TIN NGƯỜI NHẬN</p>
                        <hr />
                        <p class='m-0'>Nguyễn Văn A</p>
                        <p class='m-0'>
                            Lorem, ipsum dolor sit amet consectetur adipisicing
                            elit. Assumenda voluptatem dicta minima debitis odit
                            nemo inventore voluptas ratione error. Sequi iure
                            esse rem aut aliquid ea reprehenderit repudiandae
                            voluptatum repellat.
                        </p>
                        <p>Tel: 0987654321</p>
                    </div>
                </div>
                <div class='col d-flex p-0 me-3'>
                    <div class='p-2 border border-dark-subtle m-2 flex-fill'>
                        <p class='fw-bold fs-6'>
                            PHƯƠNG THỨC THANH TOÁN
                        </p>
                        <hr />
                        <p>Momo</p>
                    </div>
                </div>
            </div>
            <div class='order-view-status-container border border-dark-subtle mb-2'>
                <div class='order-view-status-new-order'>
                    <div class='order-view-icon-container'>
                        <div style='
                                        height: 60px;
                                        width: 60px;
                                        align-self: center;
                                    '>
                            <div class='order-view-icon-img' style='
                                            background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/order/ico_donhangmoi_green.svg)
                                                no-repeat center;
                                            border-color: #29a72a;
                                        '></div>
                        </div>
                        <div class='order-view-icon-content'>
                            <p>Đơn hàng mới</p>
                            <p>28/12/2020 - 06:42</p>
                        </div>
                    </div>
                    <div class='order-view-progress-bar' style='background: #29a72a'></div>
                </div>
                <div class='order-view-status-new-order'>
                    <div class='order-view-icon-container'>
                        <div style='
                                        height: 60px;
                                        width: 60px;
                                        align-self: center;
                                    '>
                            <div class='order-view-icon-img' style='
                                            background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/order/ico_dangxuly_green.svg)
                                                no-repeat center;
                                            border-color: #29a72a;
                                        '></div>
                        </div>
                        <div class='order-view-icon-content'>
                            <p>Đang xử lý</p>
                            <p>29/12/2020 - 09:57</p>
                        </div>
                    </div>
                    <div class='order-view-progress-bar' style='background: #29a72a'></div>
                </div>
                <div class='order-view-status-new-order'>
                    <div class='order-view-icon-container'>
                        <div style='
                                        height: 60px;
                                        width: 60px;
                                        align-self: center;
                                    '>
                            <div class='order-view-icon-img' style='
                                            background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/order/ico_hoantat_green.svg)
                                                no-repeat center;
                                            border-color: #29a72a;
                                        '></div>
                        </div>
                        <div class='order-view-icon-content'>
                            <p>Hoàn tất</p>
                            <p>31/12/2020 - 03:31</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='container mt-3 border border-success rounded text-start' style='background-color: FFFFFF'>
            <p class='mt-2'>
                Đơn hàng:
                <span class='fw-bold'>101719588</span>
            </p>
            <span class='badge rounded-pill text-bg-success'>Đơn hàng hoàn tất</span>
            <p class='mt-2'>
                Tổng tiền:
                <span class='fw-bold'>100000 đ</span>
            </p>
            <p class='mt-2'>Số lượng: <span class='fw-bold'>1</span></p>
            <table class='table text-start'>
                <thead>
                    <tr>
                        <th scope='col'>Hình ảnh</th>
                        <th scope='col'>Tên sản phẩm</th>
                        <th scope='col'>Giá bán</th>
                        <th scope='col'>Số lượng</th>
                        <th scope='col'>Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope='row'>
                            <img class='img-fluid'
                                src='https://cdn0.fahasa.com/media/catalog/product/g/r/grimgar---tap-9.jpg'
                                style='width: 100px; height: 100px' />
                        </th>
                        <td class='text-wrap' style='width: 25rem'>
                            <a href='/books/' style='text-decoration: none; color: black'>Grimgar - Ảo Ảnh Và Tro Tàn -
                                Tập 9 - Bản Giới Hạn
                                - Tặng Kèm Bookmark + 5 Bao Lì Xì</a>
                        </td>
                        <td>80750 đ</td>
                        <td>1</td>
                        <td>80750 đ</td>
                    </tr>
                </tbody>
            </table>
            <div class='d-flex flex-column mb-3 fs-6 align-items-end'>
                <p>Thành tiền: <span class='fw-bold'>85000 đ</span></p>
                <p>Phí vận chuyển: <span class='fw-bold'>15000 đ</span></p>
                <p>Tổng số tiền: <span class='fw-bold'>100000 đ</span></p>
            </div>
        </div>
    </div>
</div>